{% extends 'shop_app/base.html' %}
{% block content %}
<div class="animal-detail">
    <h1>{{ animal.breed  }}</h1>
        <img src="{{ animal.image_url }}" alt="Animal image" width="100%" height="300">
        <p>{{ animal.description }}<p>
    <ul>
        {% for comment in animal.comment_set.all %}
            <li> <p>{{ comment.comment_text }}</p> Оценка: {{ comment.mark }}</li>
        {% endfor %}
    </ul>
    <div align="center">
        <a href="{% url 'add_comment' animal.id  %}" class="btn btn-default">Добавить комментарий</a>
    </div>
</div>
{% endblock %}