{% extends 'shop_app/base.html' %}
{% block content %}

<div class="album text-muted">
    <div class="container">

        <div class="row">
            {% for feed in feeds %}
            <div class="col-4 animal">
                <p align="center"><a href="{% url 'feed_detail'  feed.id  %}">{{ feed.name }}</a></p>
                <p>{{ feed.description }}</p>
                <p>Price: {{feed.price}}</p>
                <p>Подходит животным: {{ feed.animals.all|join:", " }}</p>>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}